.productMenu {
   width: 100%;
   position: relative;


   form {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5%;
      margin-left: 5%;

      input {

         border: 1px solid var(--laranja-main);
         border-radius: 8px;
         padding: 5px 40px 5px 20px;
         width: 90%;
         height: 40px;
         font-size: 16px;
         background-color: transparent;
         color: rgb(76, 76, 76);
         max-width: 500px;

         &:focus {
            outline: none;
         }
      }
   }
}

.producsList {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 1%;
   max-height: 80vh;
   overflow-y: scroll;
   margin-top: 5%;
   padding-left: 10%;
   padding-right: 10%;
}

.productCard {

   display: flex;
   flex-direction: column;
   background-color: var(--cinza-escuro);
   color: var(--laranja-main);
   height: 280px;
   width: 300px;
   min-height: 280px;
   margin-bottom: 5%;
   justify-content: center;
   cursor: pointer;
   border-radius: 8px;
   transition: 0.2s;

   &:hover {
      background-color: rgb(196, 195, 195);
   }


   p {
      margin-left: 5%;
      margin-top: 2%;
   }

   .productTile {
      font-size: 1.1rem;
      margin-top: 2%;
   }

   .imageContainer {
      display: flex;
      justify-content: center;
   }

   .productImage {
      border-radius: 8px;
   }

   .productQuantity {
      margin-right: 48%;
   }




}

.editProductModal {

   position: absolute;
   align-items: center;
   justify-content: center;
   right: 0;
   top: 0;
   display: flex;
   width: 100%;
   background: rgba(0, 0, 0, 0.944);
   height: 100vh;

   .deleteItem {
      cursor: pointer;
      background: rgb(0, 0, 0);
      border-radius: 8px;
      position: absolute;
      top: 2%;
      right: 5%;
      z-index: 2;
      transition: 0.2s;

      &:hover {
         background: #fff;

      }
   }

}