.mainContainer {
   position: relative;
   display: flex;
   width: 100%;
   height: 100vh;
   align-items: center;
   margin-top: 40px;
   flex-direction: column;
   position: relative;

   h3 {
      display: flex;
      color: var(--laranja-main);
      margin-bottom: 40px;
   }


   .deliveryTaxContainer {
      display: flex;
      width: 60%;
      margin-top: 5%;
      align-items: center;
      justify-content: center;
      color: var(--laranja-main);

      div {
         width: 70px;

         input {
            width: 70px;
         }

         margin-right: 5px;

      }

      p {
         margin-top: 2%;
         width: 20%;
         min-width: 150px;
         color: var(--laranja-main);
      }

      margin-bottom: 70px;
   }

   .diccountToggle {
      display: flex;
      width: 100%;
      height: 50px;
      padding: 0;

   }

   .condition {
      position: relative;
      align-items: center;

      display: flex;
      top: 5%;
      width: 100%;
      max-width: 400px;

      p {
         position: absolute;
         left: 15%;
         color: var(--laranja-main);
         top: 20%;
      }

      color: black;

      .dropDownContainer {
         height: auto;
         background-color: var(--cinza-escuro);
         border-radius: 8px;
         width: 50%;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         line-height: 25px;
         position: absolute;
         right: 10%;
         top: 10%;
         padding-bottom: 1%;
         z-index: 2;

         li {
            height: auto;

            list-style-type: none;
            color: var(--laranja-main);
            border-bottom: 1px solid rgb(189, 187, 187);
            cursor: pointer;
            transition: 0.2s;
            margin-left: 15px;
            padding-top: 3%;
            padding-bottom: 3%;

            &:hover {
               background-color: rgb(196, 196, 196);
               border-radius: 8px;
               padding-left: 2px;
               padding-right: 2px;
            }
         }


      }

      .parameterContainer {
         position: relative;
         width: 90%;
         top: 100px;
         display: flex;
         flex-direction: row;

         div {
            margin-left: 25px;
            margin-bottom: 5px;

            input {
               width: 100px;

            }

            margin-left: 30%;
         }

         p {
            margin-top: 3%;

         }


      }

      .bottomContainer {
         display: flex;
         flex-direction: column;
         width: 100%;
      }

   }


}



.inputArrowContainer {
   display: flex;
   position: relative;
   width: 100%;


   .arrow {
      position: absolute;
      right: 5%;
      color: var(--laranja-main);
      cursor: pointer;
      top: 25%;
      transition: 0.2s;

      &:hover {
         color: rgb(195, 78, 6);
      }
   }
}

.buttonContainer {
   display: flex;
   position: absolute;
   bottom: 10%;
   width: 90%;
   justify-content: center;
   max-width: 500px;
}