.optionsTransparentContainer {
   top: 0;
   left: 0;
   position: absolute;
   z-index: 20;
   display: flex;
   width: 100%;

   height: 100vh;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.89);

}

.optionsContainer {
   max-width: 600px;
   position: relative;
   width: 80%;
   border-radius: 8px;
   height: 80vh;
   background-color: rgb(255, 255, 255);
   transition: 0.2s;

   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   padding-top: 5%;

   h3 {
      position: sticky;
      top: 0;
      color: var(--laranja-main);
      margin-bottom: 5%;
   }

   .closeWindow {
      position: absolute;
      right: 3%;
      top: 1%;
      cursor: pointer;

      &:hover {
         color: #ed780c;
      }
   }
}

.optionInfoContainer {
   display: flex;
   flex-direction: column;
   width: 90%;
   align-items: center;
   justify-content: center;
}

.addItemContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;

   h3 {
      margin-top: 10%;
      margin-bottom: 2%;
      font-size: medium;
   }
}

.addItemInputContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;

   div {

      input[name="value"] {
         max-width: 49%;
         justify-content: center;

      }
   }



}

.options {
   display: flex;
   flex-direction: column;
   width: 90%;
   background-color: var(--cinza-escuro);
   height: auto;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   padding-bottom: 4%;
   max-height: 20vh;

   ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 5%;
      overflow-y: auto;
      padding-right: 20px;
      position: relative;


      li {
         background-color: #d0caca;
         margin-top: 3%;
         line-height: 30px;
         display: flex;
         align-items: center;
         padding-left: 5%;
         padding-right: 5%;
         border-radius: 8px;
         color: var(--laranja-main);
         transition: 0.2s;
         cursor: pointer;
         font-size: 14px;
         margin-right: 5px;



         &:hover {
            background-color: #adadad;
         }
      }

      p {
         font-size: 14px;
         color: rgb(110, 172, 39);
         position: absolute;
         right: 20%;
         font-weight: bold;

      }

      .newItemsContainer {
         position: relative;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: flex-start;
         width: 100%;

         .deleteItem {
            position: absolute;
            right: 0;
         }
      }
   }
}

.buttonContainer {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   bottom: 20px;
   width: 100%;
}