.screenContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.sidebarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    background-color: var(--cinza-main);
    height: 100vh;
    overflow: auto;
    left: 0;
    transition: 0.2s;
    z-index: 10;

    .header {
        display: flex;
        color: rgb(74, 0, 0);
        background-color: var(--laranja-main);
        width: 100%;
        height: 10%;
        color: var(--branco-main);
        font-weight: 700;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;

        p {
            display: var(--display-options);
            margin-right: 35%;
            margin-left: 10%;
        }

        .togle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 60px;
            height: 100%;
            background: var(--laranja-main);
            cursor: pointer;
            border: 1px solid rgb(255, 255, 255);
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            transition: 0.2s;

            &:hover {
                background-color: #d14f4f;
            }

            display: flex;

            .togleIcon {
                transition: 0.2s;
                rotate: var(--set-togle-rotation);
            }
        }
    }

    ul {

        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 20%;

        li {
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: var(--justify-options);
            margin: 0 0 5% 5%;
            flex-direction: row;
            color: var(--preto-main);
            border: 1px var(--cinza-line) solid;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            transition: 0.2s;

            &:hover {
                background: #dcdbdb;
            }

            padding: 0 0 2% 0;

            div {
                margin-right: 5%;
                margin-left: 5%;
            }

            p {
                display: var(--display-options);
            }
        }


    }

}

.componentContainer {
    display: flex;
    margin-left: 2%;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}

@media(max-width: 640px) {
    .componentContainer {
        display: flex;
        margin-left: 10%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}