.checkBoxContainer {
   width: 100%;
   display: flex;
   justify-content: center;

   label {
      display: flex;
      justify-content: center;
      width: 80%;
      color: var(--laranja-main);

      input {
         cursor: pointer;
         width: 30px;
      }
   }

}