.para {
   color: #000;
}

.mainContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

   }
}

.inputContainer {
   display: flex;
   flex-direction: column;
   width: 60%;
   align-items: center;

   div {
      input {
         margin-bottom: 10px;
      }
   }
}

.buttonContainer {
   display: flex;
   width: 75%;
   align-items: center;
   justify-content: center;

   button {
      cursor: pointer;
   }
}