.mainContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 100%;
   max-width: 650px;
   height: 100vh;
   margin-top: 5%;


   h3 {
      color: var(--laranja-main);
   }

   .inputContainer {
      width: 80%;
      margin: 5% 0 5% 0;

      div {
         margin-bottom: 5px;

         input {
            height: 50px;
         }
      }
   }

   .buttonContainer {
      position: absolute;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 12%;
   }
}

.imageUploadContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--cinza-escuro);
   border-radius: 8px;
   height: 23vh;
   width: 50%;
   margin-top: 20%;

   .inputContainer {
      display: flex;
      height: 20vh;
   }

   .addImageContainer {

      button {
         height: 25px;
         padding: 0 5px 0 5px;
         cursor: pointer;
      }
   }

   .updateRemoveImageContainer {
      display: flex;
      justify-content: space-around;


      button {
         margin-right: 10px;
         height: 25px;
         cursor: pointer;
         padding: 0 5px 0 5px;
      }

      margin-bottom: 5%;
   }

   .imageItemContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
         margin-bottom: 5px;
         border-radius: 8px;
         width: 120px;
         height: 110px;
      }
   }
}

.chooseColorContainer {
   display: flex;
   align-items: center;

   p {
      color: #616161;
      width: 100%;
   }
}


.statusContainer {
   display: flex;
   position: absolute;
   width: 80%;

   ul {
      right: 10%;
      background: var(--cinza-escuro);
      border-radius: 2px;
      width: 50%;
      height: auto;
      padding: 5px 0 0 10px;
      color: #fff;
      transition: 0.2s;
      list-style-type: none;
      line-height: 25px;
      cursor: pointer;




      p {
         width: 100%;
      }

      li {



         transition: 0.2s;
         top: 10%;

         &:hover {
            background-color: #737272;
            border-radius: 3px;
            padding-left: 5px;
         }
      }
   }

   p {
      color: #616161;
      width: 50%;
   }

}

.colorPicker {
   position: absolute;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-right: 12%;
   top: 24%;

}


@media (max-width: 500px) {
   .statusContainer {

      ul {

         top: 31%;
      }
   }
}